
@{
    ViewBag.Title = "Create";
}

<head>
    <title>Notepads</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet">
</head>
<body>
    <div>
        <input type="text" data-bind="value: notepadName" />
        <button data-bind="click: createNotepad">Создать</button>
    </div>
</body>
<h2>Создать</h2>

